In [1]:

import pandas as pd
import numpy as np


df3 = pd.read_excel ('AGUA/FAOSTAT/Cultivos y productos de ganaderia.xls')
df3.head()
df3.shape

(8372, 12)

In [24]:
df4 = pd.read_csv ('AGUA/FAOSTAT/Codigos de productos_normalizado.csv', sep= ';', index_col= False )
df4

,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto
0,1756,Animales Vivos,1756,Animales Vivos
1,1714,Cultivos Primarios,1753,Cultivos Fibras Primaria
2,1714,Cultivos Primarios,1730,Cultivos Oleaginosos Pri
3,1714,Cultivos Primarios,1714,Cultivos Primarios
4,Ganadería primaria,Ganadería primaria,1777,Cueros y pieles primarias
...,...,...,...,...
731,1720,"Raíces&Tubérculos, total",136,Taro (cocoyam)
732,1720,"Raíces&Tubérculos, total",135,Yautia (cocoyam)
733,1720,"Raíces&Tubérculos, total",125,Yuca
734,1746,Vacas y búfalos,946,B?falos
735,1746,Vacas y búfalos,866,Ganado vacuno

In [25]:
# HAGO LA UNION DE LOS DOS DATAFRAME (EL MAESTRO Y EL QUE VOY A MANEJAR)

df_union = pd.merge(df3,df4, how= 'outer')
df_union

,C?digo ?mbito,?mbito,C?digo ?rea (FAO),?rea,C?digo Elemento,Elemento,C?digo Producto (FAO),Producto,C?digo a?o,A?o,Unidad,Valor,Código Grupo de Productos,Grupo de Productos,Código Producto
0,QCL,Cultivos y productos de ganader?a,203.0,Espa?a,5510.0,Producci?n,331.0,"Aceite, algod?n",2000.0,2000.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
1,QCL,Cultivos y productos de ganader?a,203.0,Espa?a,5510.0,Producci?n,331.0,"Aceite, algod?n",2001.0,2001.0,toneladas,38900.0,Cultivos Derivados,Cultivos Derivados,331
2,QCL,Cultivos y productos de ganader?a,203.0,Espa?a,5510.0,Producci?n,331.0,"Aceite, algod?n",2002.0,2002.0,toneladas,41800.0,Cultivos Derivados,Cultivos Derivados,331
3,QCL,Cultivos y productos de ganader?a,203.0,Espa?a,5510.0,Producci?n,331.0,"Aceite, algod?n",2003.0,2003.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
4,QCL,Cultivos y productos de ganader?a,203.0,Espa?a,5510.0,Producci?n,331.0,"Aceite, algod?n",2004.0,2004.0,toneladas,21317.0,Cultivos Derivados,Cultivos Derivados,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Queso de leche de b?fala,NaN,NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,955
23305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Queso de leche de b?fala,NaN,NaN,NaN,NaN,1745,Queso (Todos tipos),955
23306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Suero, condensado",NaN,NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,890
23307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Suero, condensado",NaN,NaN,NaN,NaN,1816,Leche Evapor&Condensada,890
23308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yogur,NaN,NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,891

In [26]:
df_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23309 entries, 0 to 23308
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   C?digo ?mbito              23063 non-null  object
 1   ?mbito                     23063 non-null  object
 2   C?digo ?rea (FAO)          23063 non-null  float64
 3   ?rea                       23063 non-null  object
 4   C?digo Elemento            23063 non-null  float64
 5   Elemento                   23063 non-null  object
 6   C?digo Producto (FAO)      23063 non-null  float64
 7   Producto                   23309 non-null  object
 8   C?digo a?o                 23063 non-null  float64
 9   A?o                        23063 non-null  float64
 10  Unidad                     23063 non-null  object
 11  Valor                      21980 non-null  float64
 12  Código Grupo de Productos  23309 non-null  object
 13  Grupo de Productos         23309 non-null  object
 14  Código Producto            23309 non-null  int64
dtypes: float64(6), int64(1), object(8)
memory usage: 2.8+ MB

In [27]:
#ELIMINACION DE COLUMNAS QUE NO ME INTERESAN

df_union = df_union.drop(['C?digo Elemento','C?digo ?mbito','?mbito','C?digo ?rea (FAO)', '?rea', 'C?digo a?o'], axis=1)
df_union

,Elemento,C?digo Producto (FAO),Producto,A?o,Unidad,Valor,Código Grupo de Productos,Grupo de Productos,Código Producto
0,Producci?n,331.0,"Aceite, algod?n",2000.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
1,Producci?n,331.0,"Aceite, algod?n",2001.0,toneladas,38900.0,Cultivos Derivados,Cultivos Derivados,331
2,Producci?n,331.0,"Aceite, algod?n",2002.0,toneladas,41800.0,Cultivos Derivados,Cultivos Derivados,331
3,Producci?n,331.0,"Aceite, algod?n",2003.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
4,Producci?n,331.0,"Aceite, algod?n",2004.0,toneladas,21317.0,Cultivos Derivados,Cultivos Derivados,331
...,...,...,...,...,...,...,...,...,...
23304,NaN,NaN,Queso de leche de b?fala,NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,955
23305,NaN,NaN,Queso de leche de b?fala,NaN,NaN,NaN,1745,Queso (Todos tipos),955
23306,NaN,NaN,"Suero, condensado",NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,890
23307,NaN,NaN,"Suero, condensado",NaN,NaN,NaN,1816,Leche Evapor&Condensada,890
23308,NaN,NaN,Yogur,NaN,NaN,NaN,Ganadería procesada,Ganadería procesada,891

In [28]:
# RENOMBRO LAS COLUMNAS QUE TIENEN ?


df_union= df_union.rename(columns={'A?o' : 'Año', 'C?digo Producto (FAO)': 'Código Producto_origi'})
df_union.head()

,Elemento,Código Producto_origi,Producto,Año,Unidad,Valor,Código Grupo de Productos,Grupo de Productos,Código Producto
0,Producci?n,331.0,"Aceite, algod?n",2000.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
1,Producci?n,331.0,"Aceite, algod?n",2001.0,toneladas,38900.0,Cultivos Derivados,Cultivos Derivados,331
2,Producci?n,331.0,"Aceite, algod?n",2002.0,toneladas,41800.0,Cultivos Derivados,Cultivos Derivados,331
3,Producci?n,331.0,"Aceite, algod?n",2003.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
4,Producci?n,331.0,"Aceite, algod?n",2004.0,toneladas,21317.0,Cultivos Derivados,Cultivos Derivados,331

In [29]:
df_union['Elemento'].unique()

array(['Producci?n', '?rea cosechada', 'Rendimiento', 'Existencias',
       'Rendimiento/Peso en carcasa',
       'Animales en producci?n/Sacrificados', 'Ponedoras',
       'Reses lecheras', nan], dtype=object)

In [30]:

# 1 . PRIMERO ELIMINO LOS REGISTROS QUE NO ME INTERESAN

df_union = df_union.drop(df_union[df_union['Elemento'].isin(['Rendimiento','Rendimiento/Peso en carcasa','Ponedoras','Reses lecheras','?rea cosechada'])].index)
df_union['Elemento'].unique()

array(['Producci?n', 'Existencias', 'Animales en producci?n/Sacrificados',
       nan], dtype=object)

In [31]:
# 2 . SUSTITUYO AHORA LAS ? DE LA COLUMNA ELEMENTO

valorcorr1_elemen, valorcorr2_elemen= 'Producción', 'Animales en producción/Sacrificados'

df_union = df_union.replace('Producci?n', valorcorr1_elemen)
df_union = df_union.replace('Animales en producci?n/Sacrificados', valorcorr2_elemen)

df_union['Elemento'].unique()

array(['Producción', 'Existencias', 'Animales en producción/Sacrificados',
       nan], dtype=object)

In [32]:
df_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10057 entries, 0 to 23308
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Elemento                   9811 non-null   object
 1   Código Producto_origi      9811 non-null   float64
 2   Producto                   10057 non-null  object
 3   Año                        9811 non-null   float64
 4   Unidad                     9811 non-null   object
 5   Valor                      9143 non-null   float64
 6   Código Grupo de Productos  10057 non-null  object
 7   Grupo de Productos         10057 non-null  object
 8   Código Producto            10057 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 785.7+ KB

In [33]:
# PRIMERO BUSCO LOS VALORES NAN EN CODIGO PRODUCTO_ORIGIN,(QUE ES EL CODIGO PRODUCTO DE LA TABLA ORIGINAL) Y COMPRUEBO QUE LOS VALORE DEL RESTO DE COLUMNAS
#DE LA TABLA ORIGINAL SEAN TB NAN YA QUE ESTO SIGNIFICA QUE SE HAN GENERADO POR LA UNION
#ELIMINO LAS FILAS DONDE LOS VALORES DE LA TABLA ORGINAL SON NAN PORQUE AHI NO TENGO INFORMACION, SE HAN GENERADO DE LA UNION

index =df_union.loc[df_union['Código Producto_origi'].isna(),['Elemento','Código Producto_origi','Producto','Año','Unidad','Valor', 'Código Grupo de Productos', 'Grupo de Productos','Código Producto']].index

df_union = df_union.drop(index)
df_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9811 entries, 0 to 23062
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Elemento                   9811 non-null   object
 1   Código Producto_origi      9811 non-null   float64
 2   Producto                   9811 non-null   object
 3   Año                        9811 non-null   float64
 4   Unidad                     9811 non-null   object
 5   Valor                      9143 non-null   float64
 6   Código Grupo de Productos  9811 non-null   object
 7   Grupo de Productos         9811 non-null   object
 8   Código Producto            9811 non-null   int64
dtypes: float64(3), int64(1), object(5)
memory usage: 766.5+ KB

In [34]:
#AHORA BUSCO LOS VALORES NAN EN LA COLUMNA VALOR Y MUESTRO TODAS LAS COLUMNAS PARA COMPROBAR EL ESTADO Y BORRO

index= df_union.loc[df_union['Valor'].isna(),['Elemento','Código Producto_origi','Producto','Año','Unidad','Valor', 'Código Grupo de Productos', 'Grupo de Productos','Código Producto']].index
df_union = df_union.drop(index)
df_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9143 entries, 0 to 23062
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Elemento                   9143 non-null   object
 1   Código Producto_origi      9143 non-null   float64
 2   Producto                   9143 non-null   object
 3   Año                        9143 non-null   float64
 4   Unidad                     9143 non-null   object
 5   Valor                      9143 non-null   float64
 6   Código Grupo de Productos  9143 non-null   object
 7   Grupo de Productos         9143 non-null   object
 8   Código Producto            9143 non-null   int64
dtypes: float64(3), int64(1), object(5)
memory usage: 714.3+ KB

In [35]:
df_union['Elemento'].unique()

array(['Producción', 'Existencias', 'Animales en producción/Sacrificados'],
      dtype=object)

In [36]:
#AQUI COMPRUEBO, EN LA COLUMNA ELEMENTO QUE LOS VALORES Y BORRO VALORES QUE SON SUMATORIO

pd.set_option('display.max_columns', 1000)

index = df_union[df_union['Grupo de Productos'].isin(['Carne, total'])].index
df_union = df_union.drop(index)

In [37]:
#ELIMINO ESTOS VALORES PORQUE NO ME INTERESAN PARA EL ANALISIS
index = df_union[df_union['Grupo de Productos'].isin(['Huevos Naturales'])].index
df_union = df_union.drop(index)

In [38]:
df_union['Grupo de Productos'].unique()

array(['Cultivos Derivados', 'Cultivos Oleaginosos Pri',
       'Cultivos oleaginosos, equivalente aceite', 'Cultivos Primarios',
       'Frutas Primaria', 'Hortaliz Prim Exc Melon',
       'Cultivos oleaginosos, equivalente tortas',
       'Cultivos Fibras Primaria', 'Nueces (Toda Clase), tot',
       'Cereales, total', 'Legumbres Secas, total', 'Animales Vivos',
       'Cultivos Azúcar en Bruto', 'Raíces&Tubérculos, total',
       'Vacas y búfalos', 'Ovejas y cabras', 'Ganadería primaria',
       'Carne Ovina y de Cabra', 'Carne Vacuna y de Búfalo',
       'Carne de Aves de Corral', 'Ganadería procesada',
       'Cueros y pieles primarias', 'Cítricos, total', 'Aves de corral',
       'Leche Evapor&Condensada', 'Leche Desnat&Suero,Secas',
       'Leche, total', 'Mantequilla y Ghee', 'Queso (Todos tipos)'],
      dtype=object)

In [39]:
df_union['Grupo de Productos'].unique()

array(['Cultivos Derivados', 'Cultivos Oleaginosos Pri',
       'Cultivos oleaginosos, equivalente aceite', 'Cultivos Primarios',
       'Frutas Primaria', 'Hortaliz Prim Exc Melon',
       'Cultivos oleaginosos, equivalente tortas',
       'Cultivos Fibras Primaria', 'Nueces (Toda Clase), tot',
       'Cereales, total', 'Legumbres Secas, total', 'Animales Vivos',
       'Cultivos Azúcar en Bruto', 'Raíces&Tubérculos, total',
       'Vacas y búfalos', 'Ovejas y cabras', 'Ganadería primaria',
       'Carne Ovina y de Cabra', 'Carne Vacuna y de Búfalo',
       'Carne de Aves de Corral', 'Ganadería procesada',
       'Cueros y pieles primarias', 'Cítricos, total', 'Aves de corral',
       'Leche Evapor&Condensada', 'Leche Desnat&Suero,Secas',
       'Leche, total', 'Mantequilla y Ghee', 'Queso (Todos tipos)'],
      dtype=object)

In [40]:
# 4. SUSTITUYO AHORA LAS ? DE LA COLUMNA PRODUCTO


df_union = df_union.replace('Aceite, algod?n', 'Aceite, Algodón')
df_union = df_union.replace('algod?n','algodón')
df_union = df_union.replace('Aceite, c?rtamo, alazor', 'Aceite, cártamo, alazor')
df_union = df_union.replace('Aceite, ma?z','Aceite, maíz' )
df_union = df_union.replace('Almendras con c?scara', 'Almendras con cáscara')
df_union = df_union.replace('An?s, badi?n, hinojo, cilantro', 'Anís, badián, hinojo, cilantro' )
df_union = df_union.replace('Azucar, ca?a', 'Azucar, caña')
df_union = df_union.replace('B?falos', 'Búfalos')
df_union = df_union.replace('Caf?, verde', 'Café, verde')
df_union = df_union.replace('C??amo, estopa y desechos', 'Cáñamo, estopa y desechos')
df_union = df_union.replace('Ca?am?n', 'Cañamón')
df_union = df_union.replace('Casta?as', 'Castañas')
df_union = df_union.replace('Coles y otras cruc?feras', 'Coles y otras crucíferas')
df_union = df_union.replace('Coliflor y br?col', 'Coliflor y brócoli')
df_union = df_union.replace('Algod?n con semilla', 'Algodón con semilla')
df_union = df_union.replace('Algod?n, fibra', 'Algodón, fibra')
df_union = df_union.replace('Ar?ndanos trepadores', 'Arándanos trepadores')
df_union = df_union.replace('Avellanas, con c?scara', 'Avellanas, con cáscara')
df_union = df_union.replace('D?tiles', 'Dátiles')
df_union = df_union.replace('Frutas, pom?ceas nep', 'Frutas, pomáceas nep')
df_union = df_union.replace('Leche, entera fresca, b?fala', 'Leche, entera fresca, búfala')
df_union = df_union.replace('L?pulo', 'Lúpulo')
df_union = df_union.replace('Man?s (cacahuete) con c?scara', 'Manís (cacahuete) con cáscara')
df_union = df_union.replace('Nueces con c?scara', 'Nueces con cáscara')
df_union = df_union.replace('Puerros y otras ali?ceas', 'Puerros y otras aliáceas')
df_union = df_union.replace('Ra?ces de achicoria', 'Raíces de achicoria')
df_union = df_union.replace('Sand?as', 'Sandías')
df_union = df_union.replace('Semilla de algod?n', 'Semilla de algodón')
df_union = df_union.replace('Ar?ndanos', 'Arándanos')

In [41]:
df_union

,Elemento,Código Producto_origi,Producto,Año,Unidad,Valor,Código Grupo de Productos,Grupo de Productos,Código Producto
0,Producción,331.0,"Aceite, Algodón",2000.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
1,Producción,331.0,"Aceite, Algodón",2001.0,toneladas,38900.0,Cultivos Derivados,Cultivos Derivados,331
2,Producción,331.0,"Aceite, Algodón",2002.0,toneladas,41800.0,Cultivos Derivados,Cultivos Derivados,331
3,Producción,331.0,"Aceite, Algodón",2003.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
4,Producción,331.0,"Aceite, Algodón",2004.0,toneladas,21317.0,Cultivos Derivados,Cultivos Derivados,331
...,...,...,...,...,...,...,...,...,...
23058,Producción,426.0,Zanahorias y nabos,2017.0,toneladas,389844.0,1714,Cultivos Primarios,426
23059,Producción,426.0,Zanahorias y nabos,2017.0,toneladas,389844.0,1735,Hortaliz Prim Exc Melon,426
23060,Producción,426.0,Zanahorias y nabos,2018.0,toneladas,382430.0,1714,Cultivos Primarios,426
23061,Producción,426.0,Zanahorias y nabos,2018.0,toneladas,382430.0,1714,Cultivos Primarios,426
23062,Producción,426.0,Zanahorias y nabos,2018.0,toneladas,382430.0,1735,Hortaliz Prim Exc Melon,426

In [42]:
# CAMBIO A FORMATO FECHA LA COLUMNA AÑO


# df_union['Año'] = pd.to_datetime(df_union['Año'])
# df_union['Año_'] = df_union['Año'].dt.year
# df_union

In [43]:

# ELIMINO LA COLUMNA AÑO ORIGINAL DESPUES DE HABER OBTENIDO LA COLUMA AÑO_ EN FORMATO FECHA
df_union.drop(['Código Producto_origi'], axis=1, inplace= True)
df_union

,Elemento,Producto,Año,Unidad,Valor,Código Grupo de Productos,Grupo de Productos,Código Producto
0,Producción,"Aceite, Algodón",2000.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
1,Producción,"Aceite, Algodón",2001.0,toneladas,38900.0,Cultivos Derivados,Cultivos Derivados,331
2,Producción,"Aceite, Algodón",2002.0,toneladas,41800.0,Cultivos Derivados,Cultivos Derivados,331
3,Producción,"Aceite, Algodón",2003.0,toneladas,40600.0,Cultivos Derivados,Cultivos Derivados,331
4,Producción,"Aceite, Algodón",2004.0,toneladas,21317.0,Cultivos Derivados,Cultivos Derivados,331
...,...,...,...,...,...,...,...,...
23058,Producción,Zanahorias y nabos,2017.0,toneladas,389844.0,1714,Cultivos Primarios,426
23059,Producción,Zanahorias y nabos,2017.0,toneladas,389844.0,1735,Hortaliz Prim Exc Melon,426
23060,Producción,Zanahorias y nabos,2018.0,toneladas,382430.0,1714,Cultivos Primarios,426
23061,Producción,Zanahorias y nabos,2018.0,toneladas,382430.0,1714,Cultivos Primarios,426
23062,Producción,Zanahorias y nabos,2018.0,toneladas,382430.0,1735,Hortaliz Prim Exc Melon,426

In [59]:
# REORDENO LAS COLUMNAS DE DATAFRAME

df_union =  df_union.reindex(columns= ['Año', 'Elemento', 'Código Grupo de Productos', 'Grupo de Productos', 'Código Producto', 'Producto', 'Valor', 'Unidad' ])
df_union_2 = df_union.copy()
df_union_2

,Año,Elemento,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto,Valor,Unidad
0,2000.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
1,2001.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",38900.0,toneladas
2,2002.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",41800.0,toneladas
3,2003.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
4,2004.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",21317.0,toneladas
...,...,...,...,...,...,...,...,...
23058,2017.0,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,389844.0,toneladas
23059,2017.0,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,389844.0,toneladas
23060,2018.0,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23061,2018.0,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23062,2018.0,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,382430.0,toneladas

In [60]:

anos = {2000.0:'2000',2001.0:'2001',2002.0:'2002',2003.0:'2003',2004.0:'2004',2005.0:'2005',
        2006.0:'2006',2007.0:'2007',2008.0:'2008',2009.0:'2009',2010.0:'2010',2011.0:'2011',
        2012.0:'2012',2013.0:'2013',2014.0:'2014',2015.0:'2015',2016.0:'2016',2017.0:'2017',2018.0:'2018'}

df_union_2['Año']=df_union_2['Año'].map(anos)
df_union_2

,Año,Elemento,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto,Valor,Unidad
0,2000,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
1,2001,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",38900.0,toneladas
2,2002,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",41800.0,toneladas
3,2003,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
4,2004,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",21317.0,toneladas
...,...,...,...,...,...,...,...,...
23058,2017,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,389844.0,toneladas
23059,2017,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,389844.0,toneladas
23060,2018,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23061,2018,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23062,2018,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,382430.0,toneladas

In [54]:
# df_union_2['Año'] = pd.to_datetime(df_union_2['Año'])
# df_union_2

,Año,Elemento,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto,Valor,Unidad
0,2000-01-01,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
1,2001-01-01,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",38900.0,toneladas
2,2002-01-01,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",41800.0,toneladas
3,2003-01-01,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
4,2004-01-01,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",21317.0,toneladas
...,...,...,...,...,...,...,...,...
23058,2017-01-01,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,389844.0,toneladas
23059,2017-01-01,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,389844.0,toneladas
23060,2018-01-01,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23061,2018-01-01,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23062,2018-01-01,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,382430.0,toneladas

In [63]:
df_union_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8638 entries, 0 to 23062
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        8638 non-null   object
 1   Elemento                   8638 non-null   object
 2   Código Grupo de Productos  8638 non-null   object
 3   Grupo de Productos         8638 non-null   object
 4   Código Producto            8638 non-null   int64
 5   Producto                   8638 non-null   object
 6   Valor                      8638 non-null   float64
 7   Unidad                     8638 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 607.4+ KB

In [65]:
df_union_2_sin_duplicados = df_union_2.drop_duplicates()
df_union_2_sin_duplicados

,Año,Elemento,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto,Valor,Unidad
0,2000,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
1,2001,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",38900.0,toneladas
2,2002,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",41800.0,toneladas
3,2003,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
4,2004,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",21317.0,toneladas
...,...,...,...,...,...,...,...,...
23056,2016,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,404962.0,toneladas
23057,2017,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,389844.0,toneladas
23059,2017,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,389844.0,toneladas
23060,2018,Producción,1714,Cultivos Primarios,426,Zanahorias y nabos,382430.0,toneladas
23062,2018,Producción,1735,Hortaliz Prim Exc Melon,426,Zanahorias y nabos,382430.0,toneladas

In [ ]:
mask = df_union_2_sin_duplicados[df_union_2]

In [49]:
# # RENOMBRO LA COLUMNA AÑO UNA VEZ ORDENADAS LAS COLUMNAS

# df_union['Año'].astype(int)
# df_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8638 entries, 0 to 23062
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        8638 non-null   float64
 1   Elemento                   8638 non-null   object
 2   Código Grupo de Productos  8638 non-null   object
 3   Grupo de Productos         8638 non-null   object
 4   Código Producto            8638 non-null   int64
 5   Producto                   8638 non-null   object
 6   Valor                      8638 non-null   float64
 7   Unidad                     8638 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 607.4+ KB

In [64]:

df_union_2.to_csv('AGUA/FAOSTAT/Cultivos y productos de ganaderia normalizado.csv', sep= ';', index= False)

In [51]:
# a = pd.read_csv ('AGUA/FAOSTAT/Cultivos y productos de ganaderia normalizado.csv', sep= ';')
# a.head(100)

,Año,Elemento,Código Grupo de Productos,Grupo de Productos,Código Producto,Producto,Valor,Unidad
0,2000.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
1,2001.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",38900.0,toneladas
2,2002.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",41800.0,toneladas
3,2003.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",40600.0,toneladas
4,2004.0,Producción,Cultivos Derivados,Cultivos Derivados,331,"Aceite, Algodón",21317.0,toneladas
...,...,...,...,...,...,...,...,...
95,2003.0,Producción,Cultivos Derivados,Cultivos Derivados,268,"Aceite, girasol",417828.0,toneladas
96,2004.0,Producción,Cultivos Derivados,Cultivos Derivados,268,"Aceite, girasol",453478.0,toneladas
97,2005.0,Producción,Cultivos Derivados,Cultivos Derivados,268,"Aceite, girasol",381984.0,toneladas
98,2006.0,Producción,Cultivos Derivados,Cultivos Derivados,268,"Aceite, girasol",433878.0,toneladas
99,2007.0,Producción,Cultivos Derivados,Cultivos Derivados,268,"Aceite, girasol",370187.0,toneladas